.app {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  }
  
  .subscribe-button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
  
  }
  
  .subscribe-button.clicked {
    background-color: blue;
  }
  
  .subscribe-button:hover {
    background-color: #306094;
  }
  